@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

:root {
  --primary-background-color: rgb(50,50,50);
  --secondary-background-color: rgb(64,64,64);
  --text-shadow-1: rgb(157, 157, 157);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  background-color: var(--primary-background-color);
  color: white;
}

.no-display {
  display: none;
}

#header {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 5vh;
  padding-left: 15px;
  justify-content: space-between;
  align-items: center;
  font-family: "Spartan";
  font-size: 2.5em;
}

.logo-menu>* {
  display: inline-block;
}

#menu-toggle-button {
  all: unset;
  position: relative;
  cursor: pointer;
  padding: 0 20px 4px 10px;
}

#navbar {
  padding: 0 25px;
}

#navbar #navlink-my-account {
  all: unset;
  font-family: inherit;
  position: relative;
}

#navbar #navlink-my-account:hover {
  font-variant: small-caps;
  font-weight: bold;
  text-shadow: var(--text-shadow-1) 1px 0 10px;
}

#navbar #navlink-my-account:hover::before {
  content: "Coming Soon!";
  position: absolute;
  top: 5px;
  color: red;
}

#menu-toggle-button:hover::before {
  position: absolute;
  top: 25px;
  left: 5px;
  content: "Toggle Menu";
  font-size: 15px;
  color: red;
  border: 1px solid black;
}

.page-title {
  font-variant: all-small-caps;
}

#prompt-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.task {
  border: 1px solid rgba(0, 0, 0, 0);
}

.task:hover {
  border: 1px solid blue;
}

.add-tasks-delete-dialog {
  position: relative;
  top: 25%;
  border: 1px solid white;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  z-index: 10;
}

.task>div {
  border: 1px solid black;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  min-height: 90vh;
}

.sidebar {
  border: 1px solid red;
  height: 90vh;
  width: 300px;
  max-width: 300px;
  transition: max-width 0.5s !important;
  background-color: var(--secondary-background-color);
}

.hide-sidebar {
  max-width: 0 !important;
  overflow: hidden;
}

.footer {
  text-align: center;
}

@media (max-width: 700px) {
  /* Apply new style of sidebar */
  /* One, in which, the sidebar overlays the tasks. */
  /* Is that even a flex display anymore? */
  /* > no */
  .main {
    display: unset;
  }
  .sidebar {
    position: fixed;
    z-index: 2;
    height: 90vh;
    width: 100vw;
  }
  .sidebar-active-wrapper-bg {
    width: 100vw;
    height: 90vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
  }
}