@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

@font-face {
  font-family: "FreeSans";
  src: url('../fonts/FreeSans.otf') format('otf');
}

:root {
  --selected-category: rgb(20,20,20);
  --primary-background-color: rgb(50,50,50);
  --secondary-background-color: rgba(64,64,64, 0.8);
  --tertiary-background-color: rgb(80,80,80);
  --text-shadow-1: rgb(157, 157, 157) 1px 0 10px;
  --invisible: rgba(0,0,0,0);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  background-color: var(--primary-background-color);
  color: white;
}

.no-display {
  display: none !important;
}

.low-opacity {
  opacity: 0.1 !important;
  transition: opacity 0.3s;
}

#header {
  border-bottom: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 5vh;
  padding-left: 15px;
  justify-content: space-between;
  align-items: center;
  font-family: "FreeSans", "Spartan";
  font-size: 3.0em;
}

.page-title {
  font-family: "Spartan";
}

.logo-menu>* {
  display: inline-block;
}

#menu-toggle-button {
  all: unset;
  position: relative;
  cursor: pointer;
  padding: 0 20px 4px 10px;
  font-size: 1.5rem;
}

.today-date {
  padding: 0 60px;
  animation: slidein-left 2s ease-out;
  font-size: 1.85rem;
}

.today-date::before {
  content: "Today is ";
  font-size: 50%;
  padding: 0 5px;
}

@keyframes slidein-left {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }
}

#navbar {
  padding: 0 25px;
  font-size: 1.5rem;
  font-variant: all-petite-caps;
  text-shadow: var(--invisible) 1px 0 10px;
}

#navbar #navlink-my-account {
  all: unset;
  font-family: inherit;
  position: relative;
}

#navbar #navlink-my-account:hover {
  text-shadow: var(--text-shadow-1);
}

#navbar #navlink-my-account:hover::before {
  content: "Coming Soon!";
  position: absolute;
  top: 25px;
  color: black;
  width: 100px;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  font-style: italic;
}

#menu-toggle-button:hover::before {
  position: absolute;
  content: "Toggle Menu";
  top: 25px;
  color: black;
  width: 100px;
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
  font-style: italic;
  font-size: 75%;
}

.page-title {
  font-variant: all-small-caps;
}

#prompt-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.add-tasks-delete-dialog {
  position: relative;
  top: 25%;
  border: 1px solid white;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  z-index: 10;
  color: black;
}


.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 95%;
  overflow-y: auto;
  background: url("../image/ocean-bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.sidebar {
  height: 100%;
  width: 230px;
  max-width: 300px;
  transition: max-width 0.5s !important;
  background-color: var(--secondary-background-color);
}

.hide-sidebar {
  max-width: 0 !important;
  overflow: hidden;
}

#sidebar-nav > ul > [id^="nav-link"] button {
  all: unset;
  font-weight: 100;
  letter-spacing: 1px;
  text-transform: capitalize;
}


ul > [id^="nav-link"] {
  padding: 8px 20px;
  font-weight: bold;
  font-size: 1.5rem;
  transition: background-color 0.3s;
}

[id^="nav-link"]:not(#nav-link-category):hover {
  background-color: var(--tertiary-background-color);
}

[id^="nav-link"]:not(#nav-link-category):active {
  text-shadow: var(--text-shadow-1);
  background-color: var(--primary-background-color);
}

ul#category-links > li {
  font-weight: normal;
  font-size: 0.85em;
  padding: 8px 0 8px 20px;
  font-variant: all-petite-caps;
}

#category-links {
  margin-top: 5px;
}

ul#category-links > li:hover {
  background-color: var(--tertiary-background-color);
}

ul#category-links > li:active {
  text-shadow: var(--text-shadow-1);
  background-color: var(--primary-background-color);
}

.sidebar-selected {
  color: orange;
  background-color: var(--selected-category);
}

.footer {
  text-align: center;
  background-color: var(--selected-category);
  padding: 5px;
}

.modal-dialog {
  padding: 5%;
}

.modal-button-area {
  text-align: right;
}

.modal-button-area button {
  font-family: inherit;
  padding: 5px 10px;
  margin: 0 5px;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
}

@media (max-width: 1060px) {
  /* Apply new style of sidebar */
  /* One, in which, the sidebar overlays the tasks. */
  /* Is that even a flex display anymore? */
  /* > no */
  .main {
    display: unset;
  }
  .sidebar {
    position: fixed;
    z-index: 3;
    height: 90vh;
    width: 100vw;
  }
  .sidebar-active-wrapper-bg {
    width: 100vw;
    height: 90vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
  }
}

.footer-github-icon {
  display: inline;
  font-size: 1.5em;
  color: white;
  padding-left: 10px;
}