.no-display {
  display: none;
}

#header {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  height: 5vh;
  padding-left: 15px;
  padding-top: 5px;
}

#prompt-wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
}

.task {
  border: 1px solid rgba(0,0,0,0);
}

.task:hover {
  border: 1px solid blue;
}

.add-tasks-delete-dialog {
  position: relative;
  top: 25%;
  border: 1px solid white;
  background-color: white;
  padding: 15px;
  border-radius: 5px;
  max-width: 400px;
  margin: 0 auto;
  display: block;
  z-index: 2
}

.task > div {
  border: 1px solid black;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 90vh;
}

.sidebar {
  border: 1px solid red;
  width: 300px;
  max-width: 300px;
  transition: max-width 0.5s !important;
}

.hide-sidebar {
  max-width: 0 !important;
  overflow: hidden;
}

.sidebar::before {
  content: "SIDEBAR";
  font-size: 30px;
  color: red;
}

#menu-toggle-button {
  position: relative;
  cursor: pointer;
}

/* not working, debug this l8r */
#menu-toggle-button::before {
  position: relative;
  top: 5px;
  left: 25px;
  content: "Toggle Menu";
  font-size: 25px;
  color : red;
  border: 1px solid black;
}

.footer {
  text-align: center;
}
