.form-active-task-no-display {
  opacity: 0 !important;
}

form label {
  font-family: "Spartan";
  font-variant: all-small-caps;
  font-size: 1.25rem;
}

.task form {

}

form div.container-task-title input {
  all: unset;
  border-bottom: 1px solid white;
  width: 95%;
  font-size: 1.35rem;
  font-weight: 600;
}

form>div.container-task-priority select {
  font-family: inherit;
  height: 41%;
  width: 80%;
}

form>div.container-task-description {
  width: 100%;
  height: 100%;
}

form>div.container-task-description textarea {
  resize: none;
  width: 97%;
  height: 81%;
  font-family: inherit;
  font-size: 1.25rem;
}

form>div.container-task-dueDate input {
  font-family: inherit;
  width: 90%;
  height: 40%;
}

form .form-buttons {
  text-align: center;
}

form .form-button {
  height: 70%;
  font-family: inherit;
  position: relative;
  top: 25%;
  width: 40%;
  margin: 0 5px;
  font-weight: bold;
}

form #update-task-submit {
  background-color: orange;
}

.expand-task-button {
  all: unset;
  color: white;
  /* TODO need some animations on this when you click expand. */
}

.general-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.task-view-title {
  font-size: 1.25em;
}

.task-view-due-date {
  font-size: 1.1em;
  font-style: italic;
}

.task-view-categories {
  height: 40px;
}

.category-label {
  padding: 0 5px;
  border: 1px solid #bdeef8;
  background-color: hsl(185deg 55% 49%);
  border-radius: 5px;
  position: relative;
  top: 25%;
}